name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    uses: BrightDotAi/github-workflows/.github/workflows/pre-commit.yaml@v0
    secrets: inherit
    with:
      commit-fixes: true
      needs-terraform: true
